{% extends 'todo/base.html' %}
{% block title %}目標を作成{% endblock %}
{% block content %}
<h2 class="top mb-3">目標を作成</h2>
<form
    action="{{ url_for('todo.create_todo') }}"
    method="POST"
    novalidate="novalidate"
>
    {{ form.csrf_token }}
    {% for error in form.target_day.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>
        {{ form.target_day.label }} <span>&nbsp;&nbsp;</span> {{ form.target_day(class='mb-2 date_pick', placeholder='目標期限')}}
    </p>
    {% for error in form.todo_name.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {% for error in form.todo_pt.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>
        {{ form.todo_name.label}} <span>&nbsp;</span> {{ form.todo_name(class='mb-2', placeholder='目標名')}} <span>&nbsp;&nbsp;&nbsp;</span> {{ form.todo_pt(class='mb-2', placeholder='目標pt')}}
    </p>
    {% for error in form.move_1.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {% for error in form.move_pt_1.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>
        {{ form.move_1.label}} <span>&nbsp;&nbsp;</span> {{ form.move_1(class='mb-2', placeholder='行動1')}} <span>&nbsp;&nbsp;&nbsp;</span> {{ form.move_pt_1(class='mb-2', placeholder='行動pt1')}}
    </p>

    {% for error in form.move_2.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {% for error in form.move_pt_2.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>
        {{ form.move_2.label}} <span>&nbsp;&nbsp;</span> {{ form.move_2(class='mb-2', placeholder='行動2')}} <span>&nbsp;&nbsp;&nbsp;</span> {{ form.move_pt_2(class='mb-2', placeholder='行動pt2')}}
    </p>

    {% for error in form.move_3.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {% for error in form.move_pt_3.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>
        {{ form.move_3.label}} <span>&nbsp;&nbsp;</span> {{ form.move_3(class='mb-2', placeholder='行動3')}} <span>&nbsp;&nbsp;&nbsp;</span> {{ form.move_pt_3(class='mb-2', placeholder='行動pt3')}}
    </p>

    {% for error in form.move_4.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {% for error in form.move_pt_4.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>
        {{ form.move_4.label}} <span>&nbsp;&nbsp;</span> {{ form.move_4(class='mb-2', placeholder='行動4')}} <span>&nbsp;&nbsp;&nbsp;</span> {{ form.move_pt_4(class='mb-2', placeholder='行動pt4')}}
    </p>
    <p>{{ form.submit(class='btn btn-indigo-light') }}</p>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
        $(".date_pick").datepicker({
            language: 'ja'
        });
    });
</script>
{% endblock %}