{% extends 'crud/base.html' %}
{% block title %}タイトル{% endblock %}
{% block content %}
<h2>ユーザー一覧</h2>

<table class="table table-primary table-striped">
    <tr>
        <td>ユーザーID</td>
        <td>ユーザー名</td>
        <td>メールアドレス</td>
        <td>アドミン</td>
        <td>ユーザーパス</td>
    </tr>
    {% for user in users %}
    <tr>
        <td>
            <a href="{{ url_for('crud.edit_user', user_id=user.id) }}">{{ user.id }}</a>
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_admin }}</td>
        <td>{{ user.user_path }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}